---
const items = ['Projects', 'Contact', 'Github'] as const;

type Item = typeof items[number];

const getLink = (item: Item) => {
    if(item === 'Github') {
        return 'https://github.com/Brentlok/';
    }

    return `/${item.toLowerCase()}`;
}

const getTarget = (item: Item) =>  item === 'Github' ? '_blank' : '_self'; 

const path = Astro.url.pathname.slice(1) as Item;
---

<nav class="fixed top-5 right-5 flex flex-col gap-4 items-end z-30">
    {
        items.map((item) => (
            <div class="link" data-is-active={String(item.toLowerCase() === path)}>
                <a href={getLink(item)} target={getTarget(item)}>{item}</a>    
            </div>
        ))
    }
</nav>