---
const items = ['Contact', 'Projects', 'Github'];
---

<nav class="absolute top-5 right-5 flex flex-col gap-4 items-end">
    {
        items.map((item) => (
            <div class="font-gradient text-2xl opacity-70 hover:opacity-100 cursor-pointer transition-opacity">
                <a href={`/${item.toLowerCase()}`}>{item}</a>    
            </div>
        ))
    }
</nav>