---
import type { Props as ProjectType } from "~/components/Project.astro";
import Project from "~/components/Project.astro";
import Layout from "~/layouts/Layout.astro"

const projects = await Astro.glob<ProjectType>('./md/*.md');
---

<Layout>
    <main class="main">
        {
            projects.map(({frontmatter, ...p}) => (
                <Project
                    {...frontmatter}
                    description={p.rawContent()} 
                />
            ))
        }
    </main>
</Layout>