---
import "@fontsource/poppins"
import '../styles/global.css'
import Footer from "~/components/Footer.astro"
import Head from "~/components/Head.astro"
import Nav from "~/components/Nav.astro"
import { ViewTransitions } from 'astro:transitions'

type Props = {
    withoutHome?: boolean;
};

const { withoutHome } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<Head />
	</head>
	<body>
        {!withoutHome && (
            <div class="fixed top-5 left-5 w-16 cursor-pointer z-30">
                <a href="/">
                    <img transition:name="logo" class="pointer-events-none" src="/assets/logo.svg" alt=""/>
                </a>
            </div>
        )}
        <Nav />
		<slot />
        <Footer />
        <ViewTransitions />
	</body>
</html>

<script>
    import { watchLanguageChange } from 'astro-static-dict/client'
    import { enUs, plPl } from '~/locale/dictionaries'

    watchLanguageChange({
        cachedDictionaries: {
            enUs,
            plPl
        },
        defaultLanguage: 'enUs'
    })
</script>